
 


.contenedorCarta{
    margin-top: 50px;
    display:inline-block;
    width: 280px;
    height: 430px;
    background-color:azure;
    border-radius: 10px;
    position: relative;
    text-align: center;
    background-color: rgba(43, 96, 52, 0.698);
    transition: .4s ease-in-out;
}

.contenedorCarta:hover{
    box-shadow: 1px 1px 20px 5px rgba(255, 255, 255, 0.4);
    transform: scale(1.1);
    background-color: rgba(74, 220, 12, 0.948);
    cursor: pointer;
    
}

/*.contenedorCarta  h2{
    display: none
    
}

.contenedorCarta  h2:hover{
    display: contents
    
}*/

.divBoton{
    display: flex;
    justify-content: right;
    margin: 5px 5px;
}

.boton{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 40px;
    margin: 5px 5px;
    color: rgb(6, 70, 3);
    background-color: rgba(43, 255, 0, 0.5);
    border: 2px solid black;
    border-radius: 6px;
    margin-bottom: 0.5vw;
    box-shadow: 2px 2px rgb(0, 0, 0);
    transition: .15s ease-in-out;
}

.boton:hover{
    background-color: rgb(255, 0, 0);
    color: black;
    transform:rotate(180deg);
    box-shadow: 2px 2px rgb(0, 0, 0);
    cursor:pointer;
}

.imgName{
    display: flex;
    text-align: center;
    margin: 5px;
    border: 2px solid rgb(43, 255, 0);
    border-radius: 24px;
}


.nombre{
    text-align:left;
    position: absolute;
    bottom: 100px;
    left: 15px;
    padding: 2px 5px;
    color: rgb(0, 0, 0);
    background-color: rgb(43, 255, 0);
    opacity: .7;
    border-radius: 6px;
    border: 1px solid black;
    box-shadow: 1px 2px rgb(3, 3, 3);
    font-family:monospace;
    font-size: 25px;
}

.imagen{
    width: 100%;
    background-color: black;
    border-radius: 20px;
}

.specGender{
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family:monospace;
    font-size: 15px;
    margin-top: 25px;
}

.fav{
    background: none;
    border: none;
    margin-right: 180px;
    transform: scale(1.75);
}



